@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Nunito Sans";
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    width: 100%;
}

header{
    height: 80px;
}

.navBar {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

.logo{
    width: 80px;
    min-width: 65x;
    max-width: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.navBar i{
    font-size: 36px;
    display: none;
}

#toggle-menu{
    display: none;
}

/* HERO */
.hero__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-image: url(/assets/img/hero/hard-hat-7273716_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    position: sticky;
}

/* .hero__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    mix-blend-mode: screen;
    opacity: 1.5;
} */

/* .hero__section * {
    z-index: 1;
    position: relative;
} */

.hero__section h1{
    font-size: 60px;
    font-weight: bold;
}

.button-portada{
    display: flex;
    gap: 100px;
}

.button-portada a{
    display: flex;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: lightskyblue;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}

/* H2 */

main {
    background-color: lightyellow;
}
h2{
    color: lightskyblue;
    font-size: 40px;
    text-align:start;
    padding: 30px;
}

/* NOSOTROS */
.nos__texto {
    font-size: 20px;
    padding: 0 10px 20px;
}

.nos__datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.nos__datos img{
    height: 180px;
}

.nos__datos__txt {
    font-size: 20px;
    width: 450px;
}


/* CARDS */

#cardServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 30px;
    padding: 30px 0;
}

.cards {
    display: flex;
    align-items: flex-start;
    background-color: rgb(37, 128, 233);
    padding: 20px;
    padding-bottom: 1rem;
    height: 300px;
    width: 500px;
    gap: 40px;
    border-radius: 20px;
}
.cards__cp {
    display: flex;
    align-items: flex-start;
    background-color: rgb(37, 128, 233);
    padding: 20px;
    padding-bottom: 20px;
    height: 250px;
    width: 700px;
    gap: 60px;
    border-radius: 20px;
}

.cards__img {
    display: flex;
    justify-content: center;
    height: 80px;
    padding-top: 15px;
}

.cards__texto {
    text-align: center;
    height: 100px;
    color: white;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

/* Boton "solicitar presupuesto" */

#masInfo a{
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: lightskyblue;
    border: none;
    width: 250px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}